{% extends 'core/index.html' %}

{% block titulo %}
<div class="text-center text-white">
    <h1 class="display-4 fw-bolder">Registrate</h1>
    <p class="lead fw-normal text-white-50 mb-0">Podras tener acceso a grandes beneficios</p>
    {% endblock %}


{% block prd %}

{% if errors %}
<h3 style="color: rgb(176, 10, 10);">Errores en el registro, revise los datos ingresados</h3>

{% endif %}

<form method="post">

    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" value="Registrar usuario">
</form>



{% endblock %}